.about {
  width: 100%;
  height: 50vh;
  background-color: $blue-accent;
  @include flex(center, center);
  flex-direction: column;
  padding: 4%;

  @include tablet {
    justify-content: space-around;
    flex-direction: row;
  }
}

.about__image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 12px;
  @include flex(center, center);
  // background-color: #5D5C61;

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }

  @include wide-mobile {
    width: 100px;
    height: 100px;
  }

  @include tablet {
    width: 250px;
    height: 250px;
    margin-bottom: 0;
  }
}

.about__details {
  // width: 50%;
  width: 90%;
  height: 50%;
  @include flex(center, center);
  flex-direction: column;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  line-height: 1.2;

  @include wide-mobile {
    width: 70%;
    font-size: 1.6rem;
    line-height: 1.4;
  }

  @include tablet {
    font-size: 2.4rem;
  }

  p {
    margin: 10px 0;
  }
}
