.contact {
  height: calc(100vh - 100px);
  padding: 4% 8%;
}

.contact-box {
  width: 100%;
  height: 100%;
  padding: 4%;
  @include flex(space-between, center);
  flex-direction: column;
  border-radius: 8px;
  // background-color: grey;
  // background-image: url("../assets/images/desk.jpg");
  background: linear-gradient(to right, #363188, $blue-accent);

  background-position: center;
  position: relative;

  &:after {
    @include afterOverlay;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  @include tablet {
    flex-direction: row;
    justify-content: center;
  }
}

.personal-details {
  width: 100%;
  height: 20%;
  @include flex(center, center);
  flex-direction: column;
  // flex-wrap: wrap;
  z-index: 1;

  @include tablet {
    width: 50%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 4%;
  }

  // & > * {
  //   margin-bottom: 8%;
  // }

  h1 {
    font-size: 3.4rem;
    color: $blue-accent;
  }

  h2 {
    font-size: 2.4rem;
    color: white;
    text-align: center;
    flex: 1;
  }
}

.social-media {
  width: 100%;
  height: 80%;
  // flex: 10;
  @include flex(space-around, center);
  flex-direction: row;
  z-index: 1;
  position: relative;

  @include wide-mobile {
    height: auto;
  }

  @include tablet {
    width: auto;
    height: 90%;
    flex-direction: column;
    justify-content: space-around;
  }

  &__item {
    @include flex(flex-start, center);
    flex-direction: column;
    color: white;
    font-size: 1.2rem;

    p {
      display: none;
    }

    &:hover p {
      text-decoration: underline;
    }

    @include wide-mobile {
      p {
        display: inline-block;
      }
    }

    @include tablet {
      width: 100%;
      font-size: 1.6rem;
      flex-direction: row;
    }

    &--center {
      @include wide-mobile {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include tablet {
        position: static;
        top: auto;
        left: auto;
        transform: translate(0, 0);
      }
      // margin: 0 auto;
      // align-self: center;
    }

    img {
      height: 40px;

      @include wide-mobile {
        height: 40px;
        margin-right: 12px;
      }
    }
  }
}

.form-container {
  width: 100%;
  height: 85%;
  padding: 2% 4%;
  // display: none;
  // opacity: 0;
  background-color: white;
  // background-color: transparent;
  @include flex(flex-start, flex-start);
  flex-direction: column;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 3px;

  @include wide-mobile {
    height: 76%;
  }

  @include tablet {
    width: 50%;
    height: 100%;
  }

  @include desktop {
    width: 65%;
  }

  h1 {
    font-size: 3rem;
    color: $blue-accent;
    position: relative;
    flex: 1;

    &:after {
      width: 50px;
      height: 3px;
      content: "";
      display: block;
      background-color: $blue-accent;
    }
  }

  form {
    width: 100%;
    // height: 90%;
    flex: 10;
    @include flex(space-around, flex-start);
    flex-direction: column;
    font-size: 1.6rem;
  }

  input,
  textarea {
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.3);
    padding-left: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
  }

  input {
    height: 10%;
    width: 80%;

    @include wide-mobile {
      width: 60%;
    }
  }

  textarea {
    width: 100%;
    height: 40%;
    resize: none;
  }
}

.contact-btn {
  width: 120px;
  height: 14%;
  margin: 0 auto;
  background-color: $blue-accent;
  padding-left: 0;
  border: 0;
}
